testdata/*/reference/*
testdata/*/asm/*
testdata/*/reads/*
build/*
lib/Schedule/*

config/original/snpEff.conf

lib/Vcf.pm
lib/bcftools-1.1/
lib/cg-pipeline/
lib/phast/
lib/phispy/
lib/samtools-1.1/
lib/smalt-0.7.6/
lib/snap/
lib/standard-RAxML-8.1.16/
lib/varscan.v2.3.7.jar
lib/vcftools_0.1.12b/
lib/lib
scripts/basqcol
scripts/bcftools
scripts/bgzip
scripts/build_bithash
scripts/correct
scripts/count-kmers
scripts/count-qmers
scripts/cov_model.py
scripts/cov_model.pyc
scripts/cov_model.r
scripts/cov_model_qmer.r
scripts/fetchseq
scripts/kmer_hist.r
scripts/mixreads
scripts/quake.py
scripts/quake.pyc
scripts/raxmlHPC
scripts/raxmlHPC-AVX
scripts/raxmlHPC-AVX2
scripts/raxmlHPC-PTHREADS
scripts/raxmlHPC-PTHREADS-AVX
scripts/raxmlHPC-PTHREADS-AVX2
scripts/raxmlHPC-PTHREADS-SSE3
scripts/raxmlHPC-SSE3
scripts/readstats
scripts/run_assembly_isFastqPE.pl
scripts/run_assembly_removeDuplicateReads.pl
scripts/run_assembly_shuffleReads.pl
scripts/run_assembly_trimClean.pl
scripts/samtools
scripts/simqual
scripts/simread
scripts/smalt
scripts/snap
scripts/snapxl
scripts/splitmates
scripts/splitreads
scripts/tabix
scripts/trunkreads
scripts/vcf-sort
scripts/vcfutils.pl
scripts/wgsim
config/LyveSET.conf
config/presets.conf
config/snpEff.conf
lib/bcftools-1.3.1/
lib/bwa-0.7.17/
lib/htslib-1.3.2/
lib/samtools-1.3.1/
lib/snpEff.jar
scripts/bwa
scripts/run_assembly_metrics.pl
scripts/run_assembly_readMetrics.pl

